body{
  background-color: #CCF3EE;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5PX;
  width: 3%;
  border-top-color: BLUE;
}

h1{

color: lightblue;
}

h3{
  color: lightgreen;
}
